@import "../variables.scss";

.about {
  width: 70%;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  h2 {
    margin-top: 2rem;
    color: $primary-color;
  }

  h3 {
    color: black;
    padding: 0;
    font-size: 1.2rem;

    a {
      color: black;
      text-decoration: underline;
    }

    a:hover {
      color: $primary-color;
    }
  }

  p {
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.8;
  }
}

@media (max-width: 768px) {
  .about {
    width: 90%;
  }
}

@media (max-width: 576px) {
  .about {
    width: 100%;

    h1 {
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }

    h2 {
      font-size: 1.3rem;
    }

    h3 {
      font-size: 1.2rem;
    }

    p {
      font-size: 1rem;
    }
  }
}
