@import "../variables.scss";

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  width: 80%;
  margin: 0 auto;
  font-family: $heading-font;

  img {
    width: 10%;
  }

  h1 {
    color: $primary-color;
    margin-right: auto;
    margin-left: 3rem;
  }

  ul {
    display: flex;
    align-items: center;

    li {
      margin-left: 1rem;
      font-size: 1.2rem;
      font-weight: 700;
    }

    a {
      color: $primary-color;
      transition: all 0.3s ease;
      padding: 0.5rem 1rem;
    }

    a:hover {
      background: $primary-color;
      color: white;
      cursor: pointer;
    }
  }
}
