@import "../variables.scss";

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 1rem 0;
  padding: 5rem 10rem;
  background: $primary-color;

  h1 {
    font-size: 3rem;
    color: white;
    margin-bottom: 1rem;
  }

  .hero__fields {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 5rem 5rem;

    h1 {
      font-size: 2.5rem;
    }
  }
}

@media (max-width: 576px) {
  .hero {
    padding: 5rem 2rem;

    h1 {
      font-size: 2rem;
    }
  }
}

@media (max-width: 376px) {
  .hero {
    padding: 5rem 1rem;

    h1 {
      font-size: 1.5rem;
    }
  }
}
