@import "../variables.scss";

.search-result {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
  margin: auto;
}

h1 {
  color: $primary-color;
  margin: auto;
}

@media (max-width: 768px) {
  .search-result {
    width: 50%;
  }
}

@media (max-width: 576px) {
  .search-result {
    width: 90%;
  }
}
