@import "../variables.scss";

.welcome {
  display: flex;
  flex-direction: column;

  .welcome-message {
    h1 {
      margin: 0;
      text-align: center;
      font-size: 3rem;
      padding: 1rem;
    }
  }

  .welcome-hero {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    .welcome-hero-image {
      background-image: url("../images/welcome.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 40%;
      height: 70vh;
      border-radius: 6px;
    }
  }

  .arrow-right {
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid rgb(1, 64, 1);
    position: absolute;
    right: 43%;
    top: 55%;
  }

  .line {
    background: $primary-color;
    width: 20px;
    height: 300px;
    position: absolute;
    right: 90%;
    top: 45%;
  }

  .diagonal {
    background: black;
    z-index: -1;
    width: 20px;
    height: 300px;
    position: absolute;
    right: 27%;
    top: 70%;
    rotate: 90deg;
  }
}

@media screen and (max-width: 768px) {
  .welcome {
    .welcome-hero {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .welcome-hero-image {
        display: none;
      }
    }

    .arrow-right {
      display: none;
    }

    .line {
      display: none;
    }

    .diagonal {
      display: none;
    }
  }
}

@media screen and (max-width: 500px) {
  .welcome {
    .welcome-message {
      h1 {
        font-size: 2rem;
      }
    }
  }
}
